@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

nav {
  box-shadow: 0 3px 50px rgba(85, 85, 85, 0.5);
}

.container-custom {
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: auto;
  margin-right: auto;
}

.sm-nav-component {
  opacity: 1;
  visibility: 1;
}

.sm-nav {
  max-width: 260px;
  opacity: 1;
  visibility: visible;
  transition: max-width 0.3s linear, opacity 0.3s linear, visibility 0.3s linear;
}

.sm-nav-closed {
  max-width: 0px;
  opacity: 0;
  visibility: hidden;
}

/* End nav */

/* Responsive Breakpoints */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-bullet {
  background: #4f46e5;
}

.bg-custom-image {
  background: url("../imgs/souls.jpg") center center no-repeat;
  background-size: cover; /* Optional: Adjust the background size */
  min-width: 200px;
  max-width: 250px;
  height: 300px;
  color: #213c4786;
}

.red-box-shadow {
  box-shadow: "3px 3px 1px #ccc";
}

footer {
  background: url("../imgs/footer-back1.webp") center center no-repeat;
  background-size: cover;
  width: 100%;
}

.footer-wrapper {
  background-color: #000000c5;
  height: 100%;
  padding: 50px 0px 10px 0px;
}

.carousel-indicators button {
  border-radius: 50%;
}

.s {
  color: #00000062;
}
